.footer
  .dreamshare DREAMSHARE
  .head-and-list
    .head Company
    ul.list
      li.ogo About
      li.ogo Contact 
      li.ogo Press 
      li.ogo Blog
      li.ogo.last-margin Terms and Privacy
      li.ogo Help
  .head.kek Partners
  ul.last
    li.designed DESIGNED BY
    li.areto
