.welcome-screen
  header
    .logo DREAMSHARE
    .log-sig
      .log-in Log in
      .sign-in Sign In
  .welcome-text
    | SHARE YOUR HOLIDAY DREAM
  .und-welcome-text
    | And find the perfect partner to fullfill it
  a.welcome-button(href='')
    | Find your holiday partner
