doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='./css/main.min.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Montserrat&family=Roboto&display=swap', rel='stylesheet')
  body 
  block header 
    include header
  .second-blocks
    h1.how
        | How Dreamshare works?
    .collect-blocks
      .blocks.one
        .coral-blocks STEP 1
        .description-topic Sed leo enim, condimentum
        .description
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus
          | a leo sit amet facilisis.
      .blocks.two
        .coral-blocks.anoth STEP 2
        .description-topic.dop Morbi velit risus
        .description.dopon
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
          | porttitor est.
      .blocks.three
        .coral-blocks STEP 3
        .description-topic Sed leo enim, condimentum
        .description
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus
          | a leo sit amet facilisis.
    .partners-blocks
      h1.meet Meet a partner for your best holiday
      .people-block
        .block
          .big-circle.ones
            .small-circle.onese
          .heder.dop Bradley Hunter
          .descripton Based in Chicago. I love playing tennis and loud music.
        .block
          .big-circle.twos
            .small-circle.twose
          .heder.dop Marie Bennett
          .descripton Currently living in Colorado. Lover of art, languages and travelling.
        .block.another
          .big-circle.threes
            .small-circle.threese
          .heder Diana Wells
          .descripton
            | Living in Athens, Greece. I love black and white classics, chillout music and
            | green tea.
        .block.another
          .big-circle.fours
            .small-circle.fourse
          .heder Christopher Pierce
          .descripton Star Wars fanatic. I have a persistent enthusiasm to create new things.
      .peoples-button See other partners

    .activity-blocks
      h1.discover Discover holiday activity ideas
      .bloks
        .three-blocks.first Sports and Activis
        .three-blocks.second Wellness and Health
        .three-blocks.third Extreme Sports and Expeditions
      .bloks.anotho
        .three-blocks.fourth Games
        .two-blocks.fiveth Culture and Education
      .bloks.anotho
        .two-blocks.sixth Enjoyment and Relaxation
        .three-blocks.seventh Travelling
    .creating-holiday
      h1.create-holiday Crate your holiday activity
      .holiday-question Hi! What are your holiday interests?
      .enter-window
        input.enter(type='text' value='Enter your insterests')
        input.enter-button(type='button' value='Search partners')

    block footer 
      include footer
